<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#000">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <title>Cars</title>
</head>
<body>
    <!--/*@thymesVar id="cars" type="List<java.lang.String>"*/-->
    <th:block th:each="car : ${cars}">
        <h1 th:text="${car}"></h1>
    </th:block>
</body>
</html>